{namespace form=Neos\Form\ViewHelpers}

<f:layout name="Neos.Form:Field" />

<f:section name="label"></f:section>
<f:section name="field">
    <img src="{element.renderingOptions._captchaUri}"
         alt="{f:translate(id: 'image.alt', source: 'NodeTypes/Captcha', package: 'NextBox.Neos.FormCaptcha')}"
         title="{f:translate(id: 'image.alt', source: 'NodeTypes/Captcha', package: 'NextBox.Neos.FormCaptcha')}"
         class="{element.properties.elementImageClassAttributes}"
    />
    <f:form.textfield
        property="{element.identifier}"
        id="{element.uniqueIdentifier}"
        class="{element.properties.elementInputClassAttributes}"
        type="text"
        placeholder="{element -> form:translateElementProperty(property: 'placeholder')}"
        maxlength="{element.renderingOptions._maxlength}"
        additionalAttributes="{element.properties.additionalAttributes}"
        errorClass="{element.properties.elementErrorClassAttribute}"
    />
</f:section>
